elpa/
semanticdb/
auto-save-list/
/.auth.el
/tramp
el-get/
backups/
/places
/private.el.gpg
/ac-comphist.dat
/.smex-items
/url/cookies
/session.*
/var/pcache/gh/gh-gist-api/jcrossley3
/eshell/history
/ido.last
/recentf
/bookmarks
/.lsp-session-v1
/forge-database.sqlite
/request/
/transient/
/url/
